@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

.logo {
  width: auto;
  height: 300px;
}
/* lp - landing page */
#lp-main-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  background-image: url("./assets/Background.svg");
  background-repeat: repeat no-repeat;
  background-size: auto 98%;
  /* background-size: auto 90vh; */
  /* 
  padding-top: 50px;
  padding-bottom: 50px; */
}

.lp-h1 {
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 61px;
  color: #512783;
}

.footer-text {
  font-size: 12px;
  font-family: "Nunito";
  font-weight: 600;
  color: #ffffff;
}
.footer-main-container {
  margin-top: 10px;
  height: 100px;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;

  background-image: url("./assets/Footer.png");
  background-repeat: repeat no-repeat;
  background-size: auto 98%;
}

@media only screen and (max-width: 950px) {
  .lp-h1 {
    font-size: 40px;
  }

  .logo {
    height: 200px;
  }
}
@media only screen and (max-width: 400px) {
  .lp-h1 {
    font-size: 20px;
  }
  .logo {
    height: 150px;
  }
}

/* about section */
.about-profile-name {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}
.about-profile-pos {
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.about-h1 {
  font: normal normal bold 40px/53px "Montserrat";
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #512783;
}
.about-h3 {
  font: normal normal bold 25px/39px Nunito;
  letter-spacing: 4px;
  color: #512783;
  text-transform: uppercase;
}
.about-reg1 {
  font: normal normal 600 18px/24px Nunito;
  letter-spacing: 0px;
  color: #512783;
}

.about-profile-img {
  width: 210px;
  height: 220px;
}
/* end about action */

/* unvisited link */
a:link {
  color: #512783;
}

/* visited link */
a:visited {
  color: #512783;
}

/* mouse over link */
a:hover {
  color: #73529b;
}

/* selected link */
a:active {
  color: #512783;
}
