html,
body {
}

/* width */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #e2e2e2;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}
