.headingText1 {
  text-align: left;
  font: normal normal bold 45px/74px "Montserrat";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.headingText2 {
  text-align: left;
  font: normal normal bold 30px/48px "Montserrat";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.highlight {
  background-color: #d7b5ff;
}

.descriptionText {
  text-align: center;
  font: normal normal normal 17px/28px "Montserrat";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.profileName {
  text-align: center;
  font: normal normal 600 17px/28px "Montserrat";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.about-profile-pos {
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.about-h1 {
  font: normal normal bold 45px/58px "Montserrat";
  letter-spacing: 3px;
  /* text-transform: uppercase; */
  /* background-color: #d7b5ff; */
  color: #000000;
}

.about-h3 {
  font: normal normal bold 25px/43px "Montserrat";
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000;
}
.about-reg1 {
  font: normal normal 600 18px/24px "Montserrat";
  letter-spacing: 0px;
  color: #512783;
}

.about-profile-img {
  width: 210px;
  height: 220px;
}

.ourTeam{
  font: italic normal bold 35px/45px Montserrat;
  margin-left: 60px;
}

.aboutPicture{
  height: 350px;
  width: auto 
}

.teamPic{
  height: 275px; 
  width: auto;
  margin-top: 20px 
}

@media only screen and (max-width: 700px){
  .aboutPicture{
    width:350px;
    height: auto;
  }
  .teamPic{
    width: 350px;
    height: auto;
  }
}

@media only screen and (max-width: 500px){
  .aboutPicture{
    width:260px;
    height: auto;
  }
  .teamPic{
    width: 260px;
    height: auto;
  }
}

@media only screen and (max-width: 1000px){
  .ourTeam{
    text-align: center;
  }
}


/* end about action */
