.title-text {
  text-align: center;
  font: normal normal bold 45px/74px "Montserrat";
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.faq-container {
  margin-top: 60px;
}

.faq-hr {
  margin: 5px 30px;
  color: #f5f5f5;
  opacity: 50%;
}

.accordion-section {
  display: flex;

  flex-direction: column;
  /* margin: 30px; */
  padding: 10px 30px;
}

.accordion-title {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  /* transition: background-color 0.3s ease; */
}

/* .accordion-title:hover,
.active {
  background-color: #ccc;
} */

.accordion-icon {
  margin-right: 20px;
  transition: transform 0.12s ease;
}

.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.25s ease;
  /* margin: 0 35px; */
  padding: 0px 35px;
}

.accordion-text {
  font-family: "open sans";
  font-weight: 400;
  font-size: 14px;
}

@media only screen and (max-width: 500px){
  .reg-1 {
    line-height: 30px;
  }
  .reg-2 {
    line-height: 22px;
  }
}