.sponsors-container {
  margin: 60px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  text-align: left;
  font: normal normal bold 45px/74px "Montserrat";
  letter-spacing: 0;
  color: #000;
  opacity: 1;

  margin: 0;
  padding: 0;
  line-height: 45px;
}

.sponsor-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.sponsor-content-inner {
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sponsor-padding {
  padding: 20px;
}

.img-style {
  height: 120px;
  width: auto;
}

.sponsor-style{
      background:white;
      border-radius: 30px;
      padding: 20px;
      height:750px;
      width:70%;
      display: block;
      margin: 0 auto;
      align-items: center;
}

@media only screen and (max-width: 1260px){
  .sponsor-style{
    width: 85%;
    height:auto;
    padding: 10px;
  }
}

@media only screen and (max-width: 960px){
  .sponsor-style{
    width: 95%;
    height:auto;
    padding: 10px;
  }
}



