.tracks-card-img {
  height: 200px;
  width: auto;
}


.welcomeHackers{
  font: normal normal normal 28px/45px Open Sans;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

@media only screen and (max-width: 1250px) {
  .welcomeHackers{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .welcomeHackers{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 610px) {
  .welcomeHackers{
    margin-left: 20px;
    margin-right: 20px;
  }
}
